{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
Process{% endblock %}

{% block content  %}
<!-- news section start -->
 <main class="news_section">
         <div class="row padding_30_top">
            <div class="container">
               <div class="col-sm-12">
                  <h1 class="news_taital">{% translate "Process"%}</h1>
                  <p class="news_text"></p>
               </div>
            </div>
            <div class="news_section_2">
               {% for process in processes %}
                     <div class="row padding_40_top_bottom  {% if forloop.counter|divisibleby:"2" %}gray-bg{% endif %}">
                        <div class="container">
                            <div class="row">
                              {% if forloop.counter|divisibleby:"2" %}
                                 <div class="col-md-6">
                                    <div class="news_img"><img src="{{process.image.url}}"></div>
                                 </div>
                                 <div class="col-md-6 left-line">
                                    <h1 class="give_taital">{{process.title}}</h1>
                                    <p class="ipsum_text">{{process.content|safe}}</p>
                                 </div>
                              {%else%}
                                 <div class="col-md-6 right-line ">
                                    <h1 class="give_taital">{{process.title}}</h1>
                                    <p class="ipsum_text">{{process.content|safe}}</p>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="news_img"><img src="{{process.image.url}}"></div>
                                 </div>
                               {% endif %}
                           </div>
                        </div>
                     </div>
               {% endfor %}
            </div>
         </div>
   </main>
    <!-- Process section end -->
{% endblock  %}