{% extends 'core/base.html' %}

{% block title %}
Contact us
{% endblock %}


{% block content  %}
<div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class=" alert alert-primary  mb-3">Leave us a message</span>
        <h2 class="title-padding h3">We want to hear you!!</h2>
        <p>Do you have any question?, Do you want to talk with us?, Contact us!.</p>
      </div>
      <!-- End Title -->

      <div class="w-lg-80 mx-auto">
        <form class="js-validate" novalidate="novalidate">
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="text" name="name" required="" placeholder="Your Name" aria-label="Your name" data-msg="Please type your name." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="email" name="email" required="" placeholder="E-mail" aria-label="Your email address" data-msg="Type your email." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <div class="w-100"></div>

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="text" name="subject" required="" placeholder="Subject" aria-label="Subject" data-msg="TYpe a subject." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class=" input-group ">
                  <input class="form-control " type="number" name="phone" required="" placeholder="Phone number" aria-label="Your phone number" data-msg="Please leave your phone." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <!-- Input -->
          <div class="js-form-message mb-9">
            <div class="input-group form">
              <textarea class="form-control " rows="6" name="text" required="" placeholder="How we can help you?" aria-label="How can we help you?" data-msg="Please let us know why you want to contact us." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
            </div>
          </div>
          <!-- End Input -->

          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-wide mb-4">Send</button>
            <p class="small">We will give you an answer as soon as we can.</p>
          </div>
        </form>
      </div>
    </div>
{% endblock  %}