{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}
Contact us
{% endblock %}


{% block content  %}
<div class="row">
  <div class="container padding_40_top_bottom">
      <div class="row">
        <div class="col-md-6">
          <div class="news_img">
            <iframe class="map_size" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJPRf7M81E04URIAWgltRG6KY&key=AIzaSyDsFWTgW-3DrR68GH9pQxm2io_Pnm7TO_0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <div class="news_img">
              <ul class="list-group list-group-flush ">
                <li class="list-group-item address-center"><span class="oi oi-globe" title="globe" aria-hidden="true"></span> Querétaro, Qroo</li>
                <li class="list-group-item address-center"><span class="oi oi-location" title="location" aria-hidden="true"></span> 252, Colonia San Francisquito, C.P. 76058</li>
                <li class="list-group-item address-center"><span class="oi oi-phone" title="phone" aria-hidden="true"></span> +51 4428105252</li>
                <li class="list-group-item address-center"><span class="oi oi-envelope-closed"></span> contacto@fvfresh.com</li>
              </ul>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
<div class="container space-2 space-3--lg">
      <!-- Title -->
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-9">
        <span class=" alert alert-primary  mb-3">{% translate "Leave us a message"%}</span>
        <h2 class="title-padding h3">{% translate "We want to hear you!!"%}</h2>
        <p>{% translate "Do you have any question?, Do you want to talk with us?, Contact us!."%}</p>
      </div>
      <!-- End Title -->

      <div class="w-lg-80 mx-auto">
        <form class="js-validate" novalidate="novalidate">
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="text" name="name" required="" placeholder="{% translate "Your Name"%}" aria-label="Your name" data-msg="Please type your name." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="email" name="email" required="" placeholder="E-mail" aria-label="Your email address" data-msg="Type your email." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <div class="w-100"></div>

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class="input-group ">
                  <input class="form-control " type="text" name="subject" required="" placeholder="{% translate "Subject"%}" aria-label="Subject" data-msg="TYpe a subject." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="form-message">
                <div class=" input-group ">
                  <input class="form-control " type="number" name="phone" required="" placeholder="{% translate "Phone number"%}" aria-label="Your phone number" data-msg="Please leave your phone." data-error-class="u-has-error" data-success-class="u-has-success">
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <!-- Input -->
          <div class="js-form-message mb-9">
            <div class="input-group form">
              <textarea class="form-control " rows="6" name="text" required="" placeholder="{% translate "How we can help you?"%}" aria-label="How can we help you?" data-msg="Please let us know why you want to contact us." data-error-class="u-has-error" data-success-class="u-has-success"></textarea>
            </div>
          </div>
          <!-- End Input -->

          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-wide mb-4">{% translate "Send"%}</button>
            <p class="small">{% translate "We will give you an answer as soon as we can."%}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock  %}